[build-system]
# 40.8.0 is the first version compatible with PEP 517
requires = ["setuptools>=40.8.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "{{ package }}"
version = "{{ version }}"
description = "{{ description }}"
readme = "README.md"
requires-python = ">=3.8"
license = {file = "LICENSE"}

authors = [
{%- for author in authors %}
    {name = "{{ author.name }}"}{% if not loop.last %},{% endif %}
{%- endfor %}
]

classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Education",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: BSD License",
    "Natural Language :: English",
    "Operating System :: MacOS",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: Unix",
    "Programming Language :: Python :: 3 :: Only",
    "Topic :: Scientific/Engineering :: Physics",
    "Topic :: Scientific/Engineering :: Mathematics",
    "Topic :: Scientific/Engineering :: Visualization"
]

dependencies = [
{%- for dependency in dependencies %}
    "{{ dependency }}"{% if not loop.last %},{% endif %}
{%- endfor %}
]

[project.optional-dependencies]
dev = [
    "build",
    "pre-commit",
    "twine",
    "invoke"
]
test = [
    "nbval",
    "pytest",
    "pytest-cov"
]

[project.urls]
homepage = "https://ubermag.github.io"
documentation = "https://ubermag.github.io/documentation/{{ package }}"
repository = "https://github.com/ubermag/{{ package }}"

{% if console_scripts -%}
[project.scripts]
{%- for script in console_scripts %}
{{ script.name }} = "{{ script.entrypoint }}"
{%- endfor %}
{%- endif %}

# to define additional information we use a custom table
# we need to own the entry for tool.NAME on PyPI
# see: https://www.python.org/dev/peps/pep-0518/#tool-table
[tool.ubermag]
doi = "{{ doi }}"
copyright_holder = "Marijan Beg and Hans Fangohr"
contributors = [
{%- for contributor in contributors %}
    "{{ contributor.name }}"{% if not loop.last %},{% endif %}
{%- endfor %}
]
about = """
{{ about }}"""

[tool.coverage.run]
omit = {{ omit|replace("'", '"') }}

[tool.isort]
skip_gitignore = true  # ignores files listed in .gitignore
