# {{ package }}

{% for author in authors -%}
{% if author.github -%}
[{{ author.name }}](https://github.com/{{ author.github }})
{%- else -%}
{{ author.name }}
{%- endif -%}
<sup>{{ author.affiliations }}</sup>
{%- if loop.index < loop.length - 1 %}, {% elif loop.index == loop.length - 1 %}, and {% endif %}
{%- endfor %}

{% for affiliation in affiliations -%}
<sup>{{ affiliation.number }}</sup> *{{ affiliation.details }}*  
{% endfor %}

| Description | Badge |
| --- | --- |
| Tests | [![Build status](https://github.com/ubermag/{{ package }}/workflows/workflow/badge.svg)](https://github.com/ubermag/{{ package }}/actions?query=workflow%3Aworkflow) |
|       | [![conda](https://github.com/ubermag/{{ package }}/workflows/conda/badge.svg)](https://github.com/ubermag/{{ package }}/actions?query=workflow%3Aconda) |
| Linting | [![pre-commit.ci status](https://results.pre-commit.ci/badge/github/ubermag/{{ package }}/master.svg)](https://results.pre-commit.ci/latest/github/ubermag/{{ package }}/master)
| Releases | [![PyPI version](https://badge.fury.io/py/{{ package }}.svg)](https://badge.fury.io/py/{{ package }}) |
|          | [![Anaconda-Server Badge](https://anaconda.org/conda-forge/{{ package }}/badges/version.svg)](https://anaconda.org/conda-forge/{{ package }}) |
| Coverage | [![codecov](https://codecov.io/gh/ubermag/{{ package }}/branch/master/graph/badge.svg?token=hcK4fofmrL)](https://codecov.io/gh/ubermag/{{ package }}) |
| Documentation | [![Documentation](https://img.shields.io/badge/Docs-ubermag.github.io-blue)](https://ubermag.github.io/documentation/{{ package }}.html) |
| YouTube | [![YouTube](https://img.shields.io/badge/YouTube-ubermag-blue)](https://www.youtube.com/channel/UC7MSqVQSMFV42R1jAYmKGLg) |
| Binder | [![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/ubermag/{{ package }}/latest?urlpath=lab/tree/docs) |
| Platforms | [![Platforms](https://anaconda.org/conda-forge/{{ package }}/badges/platforms.svg)](https://anaconda.org/conda-forge/{{ package }}) |
| Downloads | [![Downloads](https://anaconda.org/conda-forge/{{ package }}/badges/downloads.svg)](https://anaconda.org/conda-forge/{{ package }}) |
| License | [![License](https://img.shields.io/badge/License-BSD%203--Clause-blue.svg)](https://opensource.org/licenses/BSD-3-Clause) |
| DOI | [![DOI](https://zenodo.org/badge/67028400.svg)](https://zenodo.org/badge/latestdoi/67028400) |

## About

`{{ package }}` is a Python package, integrated with Jupyter, providing:

{{ about }}

It is available on Windows, MacOS, and Linux. It requires Python 3.8+.

## Documentation

APIs and tutorials are available in the documentation. To access the documentation, use the badge in the table above.

## Installation, testing, and upgrade

We recommend installation using `conda` package manager. Instructions can be found in the [documentation](https://ubermag.github.io/installation.html).

## Binder

This package can be used in the cloud via Binder. To access Binder, use the badge in the table above.

## YouTube

YouTube video tutorials are available on the [Ubermag channel](https://www.youtube.com/channel/UC7MSqVQSMFV42R1jAYmKGLg).

## Support

If you require support, have questions, want to report a bug, or want to suggest an improvement, please raise an issue in [ubermag/help](https://github.com/ubermag/help) repository.

## Contributions

All contributions are welcome, however small they are. If you would like to contribute, please fork the repository and create a pull request. If you are not sure how to contribute, please contact us by raising an issue in [ubermag/help](https://github.com/ubermag/help) repository, and we are going to help you get started and assist you on the way.

**Contributors**:

{% for contributor in contributors -%}
{% if contributor.github -%}
- [{{ contributor.name }}](https://github.com/{{ contributor.github }})
{%- else -%}
- {{ contributor.name }}
{%- endif %}
{% endfor %}
## License

Licensed under the BSD 3-Clause "New" or "Revised" License. For details, please refer to the [LICENSE](LICENSE) file.

## How to cite

1. M. Beg, M. Lang, and H. Fangohr. Ubermag: Towards more effective micromagnetic workflows. [*IEEE Transactions on Magnetics* **58**, 7300205](https://doi.org/10.1109/TMAG.2021.3078896) (2022).

2. M. Beg, R. A. Pepper, and H. Fangohr. User interfaces for computational science: A domain specific language for OOMMF embedded in Python. [*AIP Advances* **7**, 56025](http://aip.scitation.org/doi/10.1063/1.4977225) (2017).

3. {% for author in authors -%}
{{ author.name }}
{%- if loop.index < loop.length - 1 %}, {% elif loop.index == loop.length - 1 %}, and {% endif %}
{%- endfor %}. {{ package }}: {{ description }} DOI: [{{ doi }}](http://doi.org/{{ doi }}) ({{ year }}).

## Acknowledgements

- [OpenDreamKit](http://opendreamkit.org/) – Horizon 2020 European Research Infrastructure project (676541)

- EPSRC Programme Grant on [Skyrmionics](http://www.skyrmions.ac.uk) (EP/N032128/1)
