[metadata]
name = {{ package }}
version = {{ version }}
description = {{ description }}
author = {% for author in authors -%}
{{ author.name }}
{%- if loop.index < loop.length - 1 %}, {% elif loop.index == loop.length - 1 %}, and {% endif %}
{%- endfor %}
long_description = file: README.md
long_description_content_type = text/markdown
url = {{ url }}
licence = BSD 3-Clause License
classifiers =
{%- for classifier in classifiers %}
    {{classifier}}
{%- endfor %}

[options]
packages = find:
python_requires >= 3.8
install_requires =
{%- for dependency in dependencies %}
    {{ dependency }}
{%- endfor %}
include_package_data = True

[options.extras_require]
{%- for name in optional_dependencies %}
{{ name }} = {{ optional_dependencies[name]|join(";") }}
{%- endfor %}

{% if console_scripts -%}
[options.entry_points]
console_scripts =
{%- for script in console_scripts %}
  {{ script.name }} = {{ script.entrypoint }}
{%- endfor -%}
{%- endif %}

[flake8]
exclude =
  .git,
  __pycache__,
  build,
  dev,
  dist,
  setup.py
# 107: missing docstring in __init__
extend-ignore = D107
per-file-ignores =
  # imported but unused
  __init__.py: F401
  # ignore missing docstrings in tests
  test_*.py: D100,D101,D102,D103
docstring-convention: numpy
# flake8-rst-docstrings:
rst-roles =
  py:class,
  py:func,
rst-directives =
  seealso,
  plot,

[codespell]
skip = .*,build/*,dev/*,dist/*
